<!-- dev log 
added admin page and user page and con't
-->

{{#if admin}}
<div class="container">
	<div class="card border-0 shadow my-5">
		<div class="card-body p-5">
			<h1 class="display-4">Inventory Catalog</h1>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Cost</th>
							<th>Stock</th>
							<th></th>
							<th></th>
						<tr>
					</thead>
					<tbody>
						{{#each inventory}}
						<tr>
							<td>{{itemID}}</td>
							<td>{{itemName}}</td>
							<td>{{itemCost}}</td>
							<td>{{itemStock}}</td>
							<td><a href="" class="btn btn-warning">Update</a>
							</td>
							<td>
								<form action="" method="POST">
									<input type="submit" value="Delete" class="btn btn-danger"
										onclick="return confirm('Are you sure you want to delete this product?');">
								</form>
							</td>
						</tr>
						{{/each}}
{{else}}
<div class="container">
	<div class="jumbotron text-center my-4">
		<div class="container">
			<h1 class="display-4">Temp Name</h1>
			<p class="lead">blah blah blah</p>
			<form action="/admin" method='get'>
         		<button type="submit">enter sudo mode</button>
      		</form>
		</div>
		<br>
	</div>
</div>
{{/if}}